Source: libfixposix
Priority: optional
Maintainer: Debian Common Lisp Team <pkg-common-lisp-devel@lists.alioth.debian.org>
Uploaders: Desmond O. Chang <dochang@gmail.com>
Build-Depends: debhelper (>= 8~), dh-autoreconf,
 autoconf (>= 2.67-1~), automake (>= 1:1.11-1~), libtool (>= 2.2.6b-1~),
 check (>= 0.9.4), pkg-config (>= 0.25)
Standards-Version: 3.9.2
Section: libdevel
Homepage: http://common-lisp.net/project/iolib/
Vcs-Git: git://git.debian.org/pkg-common-lisp/libfixposix.git
Vcs-Browser: http://git.debian.org/?p=pkg-common-lisp/libfixposix.git;a=summary

Package: libfixposix-dev
Architecture: any
Depends: libfixposix1 (= ${binary:Version}), ${misc:Depends}
Description: Replacement for inconsistent parts of POSIX (development)
 The purpose of libfixposix is to offer replacements for parts of
 POSIX whose behaviour is inconsistent across *NIX flavours.
 .
 This package contains the headers and static library files.

Package: libfixposix1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Replacement for inconsistent parts of POSIX (runtime)
 The purpose of libfixposix is to offer replacements for parts of
 POSIX whose behaviour is inconsistent across *NIX flavours.
 .
 This package contains the shared library.

Package: libfixposix-dbg
Priority: extra
Section: debug
Architecture: any
Depends: libfixposix1 (= ${binary:Version}), ${misc:Depends}
Description: Replacement for inconsistent parts of POSIX (debug)
 The purpose of libfixposix is to offer replacements for parts of
 POSIX whose behaviour is inconsistent across *NIX flavours.
 .
 This package contains the debugging symbols.
